<% layout('../layout') -%>

<h1>Current Events</h1>
<hr>

<div class="container">

  <% collection.forEach(function(element) { %>


  <div class="container col-xs-6 list-bottom">
    <div class="list-group-item list-group-item-action active">
      <a href='/events/<%= element.id %>/register'><h3><%= element.title %></h3></a>

    </div>
    <div class="list-group-item list-group-item-action">
      <p>Venue: <%= element.name %></p>
      <p>Attendees: ?/<%= element.capacity %></p>
      <p>Event Starts: <%= element.start_datetime %></p>

    </div>
  </div>

<% }); %>
</div>
